.cart-thumb {
    height: 30px;
    width: 30px;
}

.cart-quantity {
    margin-right: 10px;
    --margin-right: 10px;
    --margin-end: 10px;
}

.cart-price {
    margin-left: 10px;
    --margin-left: 10px;
    --margin-start: 10px;
}

.bt {
    border-top: 1px solid #f4f4f4;
}