<ion-header mode="ios" >
  <ion-toolbar mode="ios" >

    <ion-buttons slot="start">
      <ion-button (click)="ctrl.dismiss()">
        <ion-icon
        name="close"
        >
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      {{ action }} Item
    </ion-title>

    <ion-buttons slot="end">
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content
class="ion-padding"
>
  <ion-item lines="inset">
    <ion-thumbnail 
    class="img-center"
    slot="start"
    (click)="snap()"
    >
      <div 
      *ngIf="item?.photoURL; else noPhoto;"
      >
        <img src="{{item?.photoURL}}" alt="">
      </div>
      <ng-template 
      #noPhoto
      >
        <img src="https://png.pngtree.com/png-vector/20190308/ourlarge/pngtree-restaurant-vector-icon-png-image_785538.jpg" alt="">
      </ng-template>
    </ion-thumbnail>

    <input
    hidden="true"
    id="imageCaptured"
    #filechooser
    type="file" 
    accept="image/*"
    (change)="onFileSelected(filechooser)"
    />
    <!-- capture="capture" -->

    <ion-label>
      <span class="ion-float-right">
        ${{price}}
      </span>
      {{ item?.name || 'Name' }}
      <br>
      <ion-note class="medium">
        {{ item?.desc || 'Description' }}
      </ion-note>
    </ion-label>
  </ion-item>


  <ion-item lines="inset">
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="item.name"></ion-input>
  </ion-item>

  <ion-item lines="inset">
    <ion-label>Description</ion-label>
    <ion-input [(ngModel)]="item.desc">
      </ion-input>
  </ion-item>
  <ion-item lines="inset">
    <ion-label>Price</ion-label>
    <ion-input type="number" [(ngModel)]="price"></ion-input>
  </ion-item>

  <ion-button
  mode="ios"
  expand="full"
  class="ion-margin"
  (click)="submit()"
  >
    Complete
  </ion-button>

</ion-content>

